.class-list{
	width: 98vw;
	hyphens:98vh;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.class-card-list{

	display: flex;
	flex-wrap: wrap;
	width: 98vw;
	flex-flow: wrap;
	justify-content: space-around;
}

.class-card{

	width: 300px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;

}