img{
	mix-blend-mode: darken;
	/*mix-blend-mode: color-dodge;*/
}

.class-list{
	width: 98vw;
	hyphens:98vh;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.class-card-list{

	display: flex;
	flex-wrap: wrap;
	width: 98vw;
	flex-flow: wrap;
	justify-content: space-around;
	align-items: space-around;
}

.class-card{

	width: 300px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 10%;

	margin-bottom: 20px;
	
  background-color: #95dada;
  border: 1px solid grey;
  
  padding: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

}

.class-card:hover{
	transform: scale(1.05);
}